@use './colors' as c;

// :root {
// 	--delay: 0.2s;
//   }

//navigation entry

@keyframes shownav {
	from {
		left: 100%;
	}
	to {
		left: 0;
	}
}
@keyframes hidenav {
	from {
		left: 0;
	}
	to {
		left: 100%;
	}
}

//Burger button animation

@keyframes burgerSwapCenter {
	from {
		background-color: c.$darkGrey;
	}
	to {
		background-color: c.$white;
	}
}
@keyframes burgerSwapTop {
	from {
		top: 10px;
		transform: rotate(0deg);
	}
	to {
		top: 0;
		transform: rotate(45deg);
	}
}
@keyframes burgerSwapBottom {
	from {
		top: -10px;
		transform: rotate(0deg);
	}
	to {
		top: 0;
		transform: rotate(-45deg);
	}
}

.burger-active {
	animation: burgerSwapCenter 0.3s forwards;
}
.burger-active::before {
	animation: burgerSwapTop 0.3s forwards;
}
.burger-active::after {
	animation: burgerSwapBottom 0.3s forwards;
}

@keyframes burgerBackCenter {
	from {
		background-color: c.$white;
	}
	to {
		background-color: c.$darkGrey;
	}
}
@keyframes burgerBackTop {
	from {
		top: 0;
		transform: rotate(45deg);
	}
	to {
		top: 10px;
		transform: rotate(0deg);
	}
}
@keyframes burgerBackBottom {
	from {
		top: 0;
		transform: rotate(-45deg);
	}
	to {
		top: -10px;
		transform: rotate(0deg);
	}
}

.burger-back {
	animation: burgerBackCenter 0.3s forwards;
}
.burger-back::before {
	animation: burgerBackTop 0.3s forwards;
}
.burger-back::after {
	animation: burgerBackBottom 0.3s forwards;
}

//navitem entry

@keyframes navItemEntry {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}

.nav-entry {
	animation: navItemEntry 0.3s both;
}

//

@keyframes showDetailBox {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes hideDetailBox {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes showOptionD {
	0% {
		height: 0;
		background-color: c.$white;
		transform: scaleY(0) translateY(-100%);
	}
	50% {
		height: fit-content;
		background-color: c.$lightGrey;
		transform: scaleY(0) translateY(-100%);
		transform-origin: top;
	}
	100% {
		background-color: c.$lightGrey;
		transform: scaleY(1) translateY(0);
	}
}
@keyframes showOptionH {
	0% {
		background-color: c.$white;
	}

	50% {
		background-color: c.$lightGrey;
	}
	100% {
		background-color: c.$lightGrey;
	}
}
@keyframes hideOptionD {
	0% {
		background-color: c.$lightGrey;
		transform: scaleY(1) translateY(0);
	}
	50% {
		height: fit-content;
		background-color: c.$lightGrey;
		transform: scaleY(0) translateY(-100%);
		transform-origin: top;
	}
	100% {
		height: 0;
		background-color: c.$white;
		transform: scaleY(0) translateY(-100%);
	}
}
@keyframes hideOptionH {
	0% {
		background-color: c.$lightGrey;
	}

	50% {
		background-color: c.$lightGrey;
	}
	100% {
		background-color: c.$white;
	}
}


.show-detail {
	animation: showDetailBox 0.5s forwards;
}
.hide-detail {
	animation: hideDetailBox 0.5s forwards;
}

.show-option-d {
	animation: showOptionD 0.5s forwards;
}
.show-option-h {
	animation: showOptionH 0.5s forwards;
}
.hide-option-d {
	animation: hideOptionD 0.5s forwards;
}
.hide-option-h {
	animation: hideOptionH 0.5s forwards;}