@use './colors' as c;

@mixin flex-center($fdir) {
	display: flex;
	flex-direction: $fdir;
	justify-content: center;
	align-items: center;
}

@mixin flex-space($fdir) {
	display: flex;
	flex-direction: $fdir;
	justify-content: space-between;
	align-items: center;
}
@mixin flex-end($fdir) {
	display: flex;
	flex-direction: $fdir;
	justify-content: flex-end;
	align-items: center;
}

@mixin burger-bar {
	height: 2px;
	width: 30px;
	background-color: c.$darkGrey;
	border-radius: 1px;
}

@mixin hero-img($link) {
	position: relative;
	width: 100%;
	background-image: url($link);
	background-size: cover;
	background-position: center;
	z-index: 0;
}

@mixin shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: c.$heroShadow;
	z-index: 1;
}

@mixin offer-button {
	padding: 0.5em 3em;
	font-size: 1.8rem;
	font-weight: 300;
	background: none;
	border: transparent;
	border-radius: 10px;
	box-shadow: 0 0 10px c.$heroShadow;
	transition: background-color 0.3s, box-shadow 0.3s;
	cursor: pointer;

	&:hover {
		background-color: c.$green;
		box-shadow: 0 0 10px c.$green;
	}
}

